<ion-header>

  <ion-navbar color="dark">
    <ion-title>Dojo Ionic</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding text-center>
  <ion-list>
    <ion-item>
      <ion-label stacked>Username</ion-label>
      <ion-input type="text" [(ngModel)]="username"></ion-input>
    </ion-item>
  </ion-list>
  <button ion-button block (click)="buscarUsuario()">Buscar Usuario</button>

  <ion-card *ngIf="exist">
    <ion-card-content>
      <img [src]="userInfo.avatar_url" alt="">
      <ion-card-title>
        {{userInfo.name}}
      </ion-card-title>
        {{userInfo.bio}}
      <p>
        <ion-badge color="dark"><ion-icon name="logo-github"></ion-icon> {{userInfo.public_repos}}</ion-badge>
      </p>
      <button ion-button block [navPush]="repos" [navParams]="{user: userInfo.login}">
          Ver repositorios
      </button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="!exist && userInfo!=nil">
    <ion-card-content>
      <img src="https://cms-assets.tutsplus.com/uploads/users/30/posts/25489/image/pac-404.png" alt="">
      <ion-card-title>
        User No found
      </ion-card-title>
    </ion-card-content>
  </ion-card>
</ion-content>
